<h1></h1>
<br/>
<script type="text/javascript">
Shadowbox.init({
    modal: true
  });
</script>
<a href="assets/galeria/galeria1.jpg" rel="shadowbox">
<%=image_tag("galeria/thumbnail/galeria1.jpg", :class => "thumbnail")%>
</a>
<a href="assets/galeria/galeria2.jpg" rel="shadowbox">
<%=image_tag("galeria/thumbnail/galeria2.jpg", :class => "thumbnail")%>
</a>
<a href="assets/galeria/galeria3.jpg" rel="shadowbox">
<%=image_tag("galeria/thumbnail/galeria3.jpg", :class => "thumbnail")%>
</a>
<a href="assets/galeria/galeria4.jpg" rel="shadowbox">
<%=image_tag("galeria/thumbnail/galeria4.jpg", :class => "thumbnail")%>
</a>
<a href="assets/galeria/galeria5.jpg" rel="shadowbox">
<%=image_tag("galeria/thumbnail/galeria5.jpg", :class => "thumbnail")%>
</a>
<a href="assets/galeria/galeria6.jpg" rel="shadowbox">
<%=image_tag("galeria/thumbnail/galeria6.jpg", :class => "thumbnail")%>
</a>
<a href="assets/galeria/galeria7.jpg" rel="shadowbox">
<%=image_tag("galeria/thumbnail/galeria7.jpg", :class => "thumbnail")%>
</a>
<a href="assets/galeria/galeria8.jpg" rel="shadowbox">
<%=image_tag("galeria/thumbnail/galeria8.jpg", :class => "thumbnail")%>
</a>
<a href="assets/galeria/galeria9.jpg" rel="shadowbox">
<%=image_tag("galeria/thumbnail/galeria9.jpg", :class => "thumbnail")%>
</a>
<a href="assets/galeria/galeria10.jpg" rel="shadowbox">
<%=image_tag("galeria/thumbnail/galeria10.jpg", :class => "thumbnail")%>
</a>
<a href="assets/galeria/galeria11.jpg" rel="shadowbox">
<%=image_tag("galeria/thumbnail/galeria11.jpg", :class => "thumbnail")%>
</a>
<a href="assets/galeria/galeria12.jpg" rel="shadowbox">
<%=image_tag("galeria/thumbnail/galeria12.jpg", :class => "thumbnail")%>
</a>

