<h1></h1>
<br/>
<script type="text/javascript">
Shadowbox.init({
    modal: true
  });
</script>
<a href="assets/galeria/galeria1.jpg" title="Recogido1" rel="shadowbox">
<%=image_tag("galeria/thumbnail/galeria1.jpg", :class => "thumbnail")%>
</a>
<a href="assets/galeria/galeria2.jpg" title="Recogido2" rel="shadowbox">
<%=image_tag("galeria/thumbnail/galeria2.jpg", :class => "thumbnail")%>
</a>
<a href="assets/galeria/galeria3.jpg" title="Recogido3" rel="shadowbox">
<%=image_tag("galeria/thumbnail/galeria3.jpg", :class => "thumbnail")%>
</a>
<a href="assets/galeria/galeria4.jpg" title="Recogido4" rel="shadowbox">
<%=image_tag("galeria/thumbnail/galeria4.jpg", :class => "thumbnail")%>
</a>
<a href="assets/galeria/galeria5.jpg" title="Recogido5" rel="shadowbox">
<%=image_tag("galeria/thumbnail/galeria5.jpg", :class => "thumbnail")%>
</a>
<a href="assets/galeria/galeria6.jpg" title="Recogido6" rel="shadowbox">
<%=image_tag("galeria/thumbnail/galeria6.jpg", :class => "thumbnail")%>
</a>
<a href="assets/galeria/galeria7.jpg" title="Recogido7" rel="shadowbox">
<%=image_tag("galeria/thumbnail/galeria7.jpg", :class => "thumbnail")%>
</a>
<a href="assets/galeria/galeria8.jpg" title="Recogido8" rel="shadowbox">
<%=image_tag("galeria/thumbnail/galeria8.jpg", :class => "thumbnail")%>
</a>
<a href="assets/galeria/galeria9.jpg" title="Recogido9" rel="shadowbox">
<%=image_tag("galeria/thumbnail/galeria9.jpg", :class => "thumbnail")%>
</a>
<a href="assets/galeria/galeria10.jpg" title="Recogido10" rel="shadowbox">
<%=image_tag("galeria/thumbnail/galeria10.jpg", :class => "thumbnail")%>
</a>
<a href="assets/galeria/galeria11.jpg" title="Recogido11" rel="shadowbox">
<%=image_tag("galeria/thumbnail/galeria11.jpg", :class => "thumbnail")%>
</a>
<a href="assets/galeria/galeria12.jpg" title="Recogido12" rel="shadowbox">
<%=image_tag("galeria/thumbnail/galeria12.jpg", :class => "thumbnail")%>
</a>
<a href="assets/galeria/galeria13.jpg" title="Recogido13" rel="shadowbox">
<%=image_tag("galeria/thumbnail/galeria13.jpg", :class => "thumbnail")%>
</a>


