<h1>Belleza al alcance de todos</h1>

<script type="text/javascript">

$(window).load(function() {
    $("#slider").nivoSlider();
});

</script>
 <div id="wrapper">
        <div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">
              <%=image_tag("portada/portada1.jpg")%>
            <%=image_tag("portada/portada2.jpg")%>
            <%=image_tag("portada/portada3.jpg")%>
            <%=image_tag("portada/portada4.jpg")%>
            <%=image_tag("portada/portada5.jpg")%>

            </div>
        </div>

    </div>


