<!DOCTYPE html>
<html>
<head>
  <title>Beatrizpardos</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Allura" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="general">
  <div class="banner">
    Peluqueria Beatriz Pardos 
  </div>
  <div class="menu">
  <nav>
    <ul id ="vertical_menu">
      <li><%= link_to "Peluqueria", {:controller => "pagina", :action => "inicio"} ,:class => (@tab=="inicio")? "tab-actual":"tab-no-actual"%></li>
      <li><%= link_to "Galeria", {:controller => "pagina", :action => "galeria"} , :class=> (@tab=="galeria")? "tab-actual":"tab-no-actual"%></li>
      <li><%= link_to "Servicios", {:controller => "pagina", :action => "servicios"} , :class=>(@tab=="servicios")? "tab-actual":"tab-no-actual"%></li>
      <li><%= link_to "Contacto", {:controller => "pagina", :action => "contacto"} , :class=>(@tab=="contacto")? "tab-actual":"tab-no-actual" %></li>
    </ul>
  </nav>
  </div>
  <div class="contenido redondeado">
    <%= yield %>
  </div>
  <div class="pie">
    Con cariño =D 
  </div>
<div>
</body>
</html>
